//this is to test the vm gt function

push constant 2
push constant 3000
gt
pop temp 0

push local 0
push local 1
gt
pop temp 1

push argument 0
push argument 1
gt
pop temp 2

push this 0
push that 0
gt
pop temp 3

push pointer 0
push pointer 1
gt
pop temp 4

push static 1
push static 0
gt
pop temp 5

label END
goto END